<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>REGISTRAR CLIENTES</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating" >Nome:</ion-label>
        <ion-input [(ngModel)]="novoCliente.nome" type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating" >Onde deixar:</ion-label>
        <ion-input [(ngModel)]="novoCliente.ondeDeixar" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="secondary">Latitude:</ion-label>
    </ion-item>

    <ion-item>
        <ion-label color="secondary">Longitude:</ion-label>
    </ion-item>

    <ion-button expand="full" (click)="adicionarCliente()">Registrar</ion-button>
</ion-content>
