<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>CLIENTES</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-list *ngFor="let cliente of clientes">
        <ion-item>

            <ion-label>{{cliente.nome}}</ion-label>
        </ion-item>

    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/cadastrar-clientes">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
